h1{
    background-color: rgb(255, 255, 255);
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(0, 0, 0);
}
h2{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(255, 0, 0);
}

h3{
    font-family: 'Sukhumvit set';
    font-style: italic;
    color: rgb(255, 0, 0);
}

#BG{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

p{
    font-family: 'Sukhumvit set';
    font-size: 25px;
    font-style: italic;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a{
    font-family: 'Sukhumvit set';
    font-size: 30px;
    font-style: italic;
}