body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(255, 0, 0);
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
}

#l1 {
    color: rgb(255, 0, 0);
    font-family: verdana;
    font-style: italic;
}

#l2 {
    color: rgb(255, 115, 0);
    font-family: verdana;
    text-decoration: underline;
}